<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>31D9504F-5186-4D5E-894D-F3A55153225B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ECF1BD2C-6DAE-4FAE-91B4-098D88853774</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1BD657DC-9B4E-4931-9C34-686D802F6A48</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>W. Evan Sheehan</string>
	<key>description</key>
	<string>Generate a password</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Diceware Password</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>password</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Generating passwords</string>
				<key>script</key>
				<string>import diceware

API_KEY=''
SUGGESTIONS = 5

print '&lt;?xml version="1.0"?&gt;'
print '&lt;items&gt;'

for i in range(SUGGESTIONS):
	password = diceware.generate(apikey=API_KEY)
	print '&lt;item arg="{0}" autocomplete="{0}"&gt;&lt;title&gt;{0}&lt;/title&gt;&lt;/item&gt;'.format(password)

print '&lt;/items&gt;'</string>
				<key>subtext</key>
				<string>Generate passwords using diceware</string>
				<key>title</key>
				<string>Diceware Password</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>31D9504F-5186-4D5E-894D-F3A55153225B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>ECF1BD2C-6DAE-4FAE-91B4-098D88853774</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>1BD657DC-9B4E-4931-9C34-686D802F6A48</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1BD657DC-9B4E-4931-9C34-686D802F6A48</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>31D9504F-5186-4D5E-894D-F3A55153225B</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>ECF1BD2C-6DAE-4FAE-91B4-098D88853774</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>evansheehan.com</string>
</dict>
</plist>
